.bgc-primary{
    background-color: $primary;
}
.bgc-secondary{
    background-color: $secondary;
}

.bgc-light{
    background-color: $light;
}

.bgc-BoxDeep{
    background-color: $BoxDeep;
}
.bgc-BoxLight{
    background-color: $BoxLight;
}
