.mr-l{
    margin-right: $spc-l;
}
.mr-m{
    margin-right: $spc-m;
}
.mr-xs{
    margin-right: $spc-xs;
}
.mt-m{
    margin-top: $spc-m;
}
.mt-a{
    margin-top: auto;
}

.mb-l{
    margin-bottom: $spc-l;
}
.mb-s{
    margin-bottom: $spc-s;
}
.mb-xs{
    margin-bottom: $spc-xs;
}
.mb-l{
    margin-bottom: $spc-l;
}


.pt-l{
    padding-top: $spc-l;
}
.pb-m{
    padding-bottom: $spc-m;
}