

$primary:#AA0601;
$secondary:#FBF2F2;
$BoxDeep:#5F3E2D;
$BoxLight:#B75929;
$frame1:#DCDCDC;
$frame2:#F2F2F2;
$frame3:#00000029;
$frame4:#555555;
$shade:#DEE2E6;
$date:#707070;
$light:#FFFFFF;
$dark:#000000;
$series:#650300;

// color------------------

$fs-1:64px;
$fs-2:48px;
$fs-3:42px;
$fs-4:36px;
$fs-5:32px;
$fs-6:24px;
$fs-7:20px;
$fs-8:16px;
$fs-9:14px;

// font-size--------------

$spc-xxl:80px;
$spc-xl:64px;
$spc-l:48px;
$spc-m:32px;
$spc-s:24px;
$spc-xs:8px;

//spacing-size------------