
<div class="footer pt-l pb-m bgc-primary">
    <div class="container">
       <div class="menu-lg d-flex jc-space-between">
           <div class="d-flex ai-center">
               <div class="item fs-8 mr-l"><a class="light" href="#">首頁</a></div>
               <div class="item fs-8 mr-l"><a class="light" href="#">系列鏡框</a></div>
               <div class="item fs-8 mr-l"><a class="light" href="#">門市據點</a></div>
               <div class="item fs-8 mr-l"><a class="light" href="#">部落格</a></div>
               <div class="item fs-8 "><a class="light" href="#">常見問題</a></div>
           </div>
           <div class="social">
            <a class="mr-m" href="#"><img src="../assets/images/ic-social-fb.png" alt="facebook"></a>
            <a class="mr-m" href="#"><img src="../assets/images/ic_social_ig.png" alt="instgram"></a>
            <a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a>
           </div>
       </div>
       <div class="d-flex jc-space-between mt-m mb-xs">
           <div  class="d-flex ai-center ">
            <div class="telnum">
                <img src="../assets/images/phone_paused_36dp_E8EAED_FILL0_wght400_GRAD0_opsz40.svg" alt="phone">
            </div>
            <p class="fs-4 light ff-noto">0800-000-000</p>
           </div>
           <div class=" social-lg ">
            <div class="mr-xs" >
                <a href="#"><img src="../assets/images/ic-social-fb.png" alt="facebook"></a>
            </div>
            <div class="mr-xs">
                 <a  href="#"><img src="../assets/images/ic_social_ig.png" alt="instagram"></a>
            </div>
            <div>
                <a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a>
            </div>
           
           
            </div>
       </div>
       <div class="d-flex jc-space-between">
           <div class="telnum d-flex ai-center">
            <div class="d-flex ai-center">
                <img class="mail " src="../assets/images/mail_32dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.png" alt="phone">
            </div>
            <a class="fs-4 light ff-noto">glasses@business.com</a>
           </div>
        </div>
        <div class="divline"></div>
        <div class="service d-flex jc-space-between">
            <p class="light fs-8">Copyright © 2020 Glasses.All rights reserved.</p>
            <div class=" d-flex">
                <P class="fs-9 mr-l light">隱私權政策</P>
                <P class="fs-9 light">服務條款</P>
            </div>
        </div>
    </div>


</div>