<nav class="navbar ff-noto">
    <div class="container d-flex jc-space-between">
        <div >
            <div class="logo">
                <a href="../pages/index.html">
                    <img src="../assets/images/logo-white.png" alt="logo">
                </a>
            </div>
        </div>
        <div class="menu-lg d-flex ai-center">
            <div class="item">
                <a class="fs-7 light" href="../pages/product-optical.html">系列鏡框</a>
            </div>
            <div class="item">
                <a class="fs-7 light" href="#">門市據點</a>
            </div>
            <div class="item">
                <a class="fs-7 light" href="#">部落格</a>
            </div>
            <div>
                <a class="fs-7 light" href="#" >常見問題</a>
            </div>
        </div>
    </div>
    

    <div class="menu-sm container">
        <div class="d-flex fw-wrap">
            <div class="col-6">
                <div class="ta-center py-xxs  bd-1">
                    <a class="light ff-noto fs-8" href="../pages/product-optical.html">系列鏡框</a>
                </div>
            </div>
            <div class="col-6">
                <div class="ta-center py-xxs  bd-1">
                    <a class="light ff-noto fs-8" href="#">門市據點</a>
                </div>
            </div>
            <div class="col-6">
                <div class="ta-center py-xxs  bd-1">
                    <a class="light ff-noto fs-8" href="#">部落格</a>
                </div>
            </div>
            <div class="col-6">
                <div class="ta-center py-xxs  bd-1">
                    <a class="light ff-noto fs-8" href="#">常見問題</a>
                </div>
            </div>
        </div>
    </div>



    
</nav> 
