<section class="product-type">
    <div class="container ">
        <div class="row d-flex">

            <div class="col-4-nog">
                <div class="card">
                    <div class="p-type-box ta-center ">
                        <a class=" dark fs-5 ff-roboto" href="#">OPTICAL</a>
                    </div>
                </div>
            </div>
            <div class="col-4-nog">
                <div class="card">
                    <div class="p-type-box ta-center">
                        <a class=" dark fs-5 ff-roboto" href="#">SUNGLASSES</a>
                    </div>
    
                </div>
            </div>
            <div class="col-4-nog">
                <div class="card">
                    <div class="p-type-box ta-center">
                        <a class=" dark fs-5 ff-roboto" href="#">FUNCTIONAL</a>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</section>