
.col-6{
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
}
.col-6-nog{
    width: 50%;
    
}
.col-4{
    width: 33.33333333%;
    padding-right: 12px;
    padding-left: 12px;
}
.col-4-nog{
    width: 33.33333333%;
   
}
.col-3{
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
}