<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/navbar'); -%>
    <div class="index">
      <section class="header">
        <div class="container">
          <div>
            <div class="header-inf ta-right" >
              <p class="ff-noto fs-4 series">Promise-Desert 2020 早春系列</p>
              <h1 class="ff-noto-bold fs-1 series">看得清，才能看得遠</h1>
              <div class="call-to-action">
                <a class="ff-noto fs-7 bgc-primary light " href="#">立即購買</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="hight-light bgc-secondary">
        <h2 class="fs-2 series ta-center ff-noto-bold">用專業的心，做專業的事</h2>
        <div class="container">
          <div class="row d-flex fw-wrap">
            <div class="col-3">
              <div class="card d-flex fd-column ai-center
              ">
                <img src="../assets/images/home-section2-1.png" alt="">
                <h3 class="ta-center fs-6 ff-noto series">單一價格</h3>
                <p class="ff-noto ">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
              </div>
            </div>
            <div class="col-3">
              <div class="card d-flex fd-column ai-center
              ">
                <img src="../assets/images/home-section2-2.png" alt="">
                <h3 class="ta-center fs-6 ff-noto series">20 分鐘即可取件</h3>
                <p class="ff-noto ">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
              </div>
            </div>
            <div class="col-3">
              <div class="card d-flex fd-column ai-center
              ">
                <img src="../assets/images/home-section2-3.png" alt="">
                <h3 class="ta-center fs-6 ff-noto series">安心售後服務</h3>
                <p class="ff-noto ">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
              </div>
            </div>
            <div class="col-3">
              <div class="card d-flex fd-column ai-center
              ">
                <img src="../assets/images/home-sectioin2-4.png" alt="">
                <h3 class="ta-center fs-6 ff-noto series">關於鏡片</h3>
                <p class="ff-noto ">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <section class="classic">
        <h2 class="fs-2 series ta-center ff-noto-bold">經典系列鏡框</h2>
        <div class="container">
          <div class="row d-flex fw-wrap">
            <div class="col-4">
              <div class="card d-flex fd-column ai-center
              ">
                <img src="../assets/images/home-section3-1.png" alt="">
                <h3 class="ta-center fs-2 ff-noto-bold primary">OPTICAL</h3>
              </div>
            </div>
            <div class="col-4">
              <div class="card d-flex fd-column ai-center
              ">
                <img src="../assets/images/home-section3-2.png" alt="">
                <h3 class="ta-center fs-2 ff-noto-bold primary">SUNGLASSES</h3>
              </div>
            </div>
            <div class="col-4">
              <div class="card d-flex fd-column ai-center
              ">
                <img src="../assets/images/home-section3-3.png" alt="">
                <h3 class="ta-center fs-2 ff-noto-bold primary">FUNCTIONAL</h3>
              </div>
            </div>
          </div>
        </div>

      </section>
      <section class="cross-over ">
        <div class="container">
          <h2 class="title ff-noto-bold fs-2 ta-center light ">聯名設計鏡框</h2>
          <div class=" d-flex fw-wrap">
            <div class="col-6-nog">
              <div class="card d-flex fd-column ai-center">
                <img src="../assets/images/home-section4-1.png" alt="white glasses">
                <h3 class="fs-2 ff-noto-bold-italic primary bgc-light ta-center">DOUBLE A+</h3>
              </div>
            </div>
            <div class="col-6-nog">
              <div class="card d-flex fd-column ai-center">
                <img src="../assets/images/home-section4-2.png" alt="white glasses">
                <h3 class="fs-2 ff-noto-bold-italic primary bgc-light ta-center">YOUTH</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="customer-reviews">
        <div class="container">
          <h2 class="ta-center fs-2 ff-noto-bold series">顧客推薦</h2>
          <div class="row d-flex fw-wrap">
            <div class="col-3">
              <div class="card d-flex fd-column">
                <img src="/assets/images/home-section5-1.png" alt="woman">
                <div class="inf-box  ">
                  <h3 class="ff-roboto mb-xs">Jessy</h3>
                  <p class="ff-noto mb-l">眼鏡品質優良，下次還會想來這邊購買！</p>
                  <p class="ff-noto date mt-a">2021/06/20</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card ">
                <img src="/assets/images/home-section5-2.png" alt="woman">
                <div class="inf-box d-flex fd-column">
                  <h3 class="ff-roboto mb-xs">凱倫</h3>
                  <p class="ff-noto mb-l">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                  <p class="ff-noto date mt-amt-a">2021/06/20</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card ">
                <img src="/assets/images/home-section5-3.png" alt="woman">
                <div class="inf-box d-flex fd-column">
                  <h3 class="ff-roboto mb-xs">悠悠</h3>
                  <p class="ff-noto mb-l">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                  <p class="ff-noto date mt-a">2021/06/20</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card ">
                <img src="/assets/images/home-section5-4.png" alt="woman">
                <div class="inf-box d-flex fd-column">
                  <h3 class="ff-roboto mb-xs">Jessy</h3>
                  <p class="ff-noto mb-l">服務很好，品質沒有任何問題，非常喜歡。</p>
                  <p class="ff-noto date mt-a">2021/06/20</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <section class="contact bgc-secondary">
        <div class="container ">
          <div class="d-flex fd-column ai-center">
            <h2 class="ta-center fs-2 ff-noto-bold series mb-l">聯絡我們</h2>
            <div class="qa-area">
              <p class="mb-s ff-noto">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
              <form action="index.html" class="d-flex fd-column " >
                <label for="name">姓名</label>
                <input type="text" id="name" name="name "  placeholder="陳小明"> 
                <label for="phone" class="ff-noto">聯絡電話</label>
                <input type="text" placeholder="0912-345678">
                <label for="email " class="ff-noto">電子郵件</label>
                <input type="text" name="email" id="email" placeholder="example@email.com">
                <label for="feeback" class="ff-noto">意見反饋</label>
                <input type="textarea" size="h100" name="feeback" id="feeback" placeholder ="請輸入您的意見" class="t-area ff-noto">
                <div class="mb-l">
                  <input type="checkbox" name="check" id="check">
                  <label for="check" class="ff-noto">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                </div>
              </form>
            </div>
            <input class=" bgc-primary light ff-noto ta confirm" type="submit" name="submit" id="" value="確認送出">
          </div>
        </div>
      </section>

</div>
    
   
    
    
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
